.jumbotron {
    background-color:#9262a1;
    font-family: 'Anton', sans-serif;
    text-align: center;
    color: white;
}

body {
    font-family: 'Abel', sans-serif;
    background-color:#e3caeb
}



